.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20 0px;
}

.product-details {
    border: 1px solid gray;
    border-radius: 5px;
}



/*-------------------------
 products responsive layout
 --------------------------*/
@media only screen and (max-width:576px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}